<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>绥阳县蓝雨教育咨询服务有限公司</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<%= stylesheet_link_tag "ayout.css" %>
<%= javascript_include_tag 'jquery-1.4.1.min.js'%>
<%= javascript_include_tag 'jquery.slidepanel.setup.js'%>
<%= javascript_include_tag 'jquery.cycle.min.js'%>
<%= javascript_include_tag 'jquery.cycle.setup.js'%>
</head>
<body>
<div class="wrapper col0">
  <div id="topbar">
    <div id="slidepanel">
      <div class="topbox">
        <h2>Nullamlacus dui ipsum</h2>
        <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
      <div class="topbox">
        <h2>Teachers Login Here</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Teachers Login Form</legend>
            <label for="teachername">Username:
              <input type="text" name="teachername" id="teachername" value="" />
            </label>
            <label for="teacherpass">Password:
              <input type="password" name="teacherpass" id="teacherpass" value="" />
            </label>
            <label for="teacherremember">
              <input class="checkbox" type="checkbox" name="teacherremember" id="teacherremember" checked="checked" />
              Remember me</label>
            <p>
              <input type="submit" name="teacherlogin" id="teacherlogin" value="Login" />
              &nbsp;
              <input type="reset" name="teacherreset" id="teacherreset" value="Reset" />
            </p>
          </fieldset>
        </form>
      </div>
      <div class="topbox last">
        <h2>Pupils Login Here</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Pupils Login Form</legend>
            <label for="pupilname">Username:
              <input type="text" name="pupilname" id="pupilname" value="" />
            </label>
            <label for="pupilpass">Password:
              <input type="password" name="pupilpass" id="pupilpass" value="" />
            </label>
            <label for="pupilremember">
              <input class="checkbox" type="checkbox" name="pupilremember" id="pupilremember" checked="checked" />
              Remember me</label>
            <p>
              <input type="submit" name="pupillogin" id="pupillogin" value="Login" />
              &nbsp;
              <input type="reset" name="pupilreset" id="pupilreset" value="Reset" />
            </p>
          </fieldset>
        </form>
      </div>
      <br class="clear" />
    </div>
    <div id="loginpanel">
      <ul>
        <li class="left">当前时间： &raquo;</li>
        <li class="right" id="toggle"><%= Time.now.to_s[0..19]%></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h2><a href="#">蓝雨教育咨询服务有限公司</a></h2>
      <p>绥阳县高考志愿填报服务</p>
    </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="index.html">首页</a></li>
        <li><a href="style-demo.html">高考志愿</a></li>
        <li><a href="full-width.html">活动</a></li>
        <li class="last"><a href="#">联系我们</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box"><a href="#"><img src="/assets/14.jpg" alt="" /></a>
      <div class="floater">
        <h2>中国校友会网：2016年中国大学排行榜榜单</h2>
        <p>2016年新年即将来临，中国哪所大学的综合实力最强？哪些大学跻身“中国一流大学第一方阵”？哪些大学最有实力跻身国家“双一流”建设战略？中国哪所大学社会捐赠最多？中国哪些大学最受毕业生校友认可？2015年12月30日，艾瑞深中国校友会网正式发布《2016中国大学评价研究报告》，报告最新公布了2016中国大学排行榜100强、2016中国一流大学排行榜、2016中国大学社会捐赠排行榜和2016中国大学校友捐赠排行榜等榜单，这是艾瑞深中国校友会网大学研究团队连续第14年发布中国大学排行榜。</p>
        <p class="readmore"><a href="#">阅读全文 &raquo;</a></p>
      </div>
    </div>
    <div class="featured_box"><a href="#"><img src="/assets/2.jpg" alt="" /></a>
      <div class="floater">
        <h2>2. Aliquatjusto quisque nam</h2>
        <p>Duisvest lacus pellus purus temper maurisus et sodalesuada loreet sapiente et. Quissociis magnisl orci dui nulla ut antesque malesuada sed pede et. Idlacus ridiculisi nec cursus enim ac tur urnar nunc pellus pellenterdum. Necelisi aliquat curabiturpiscing semportortor sed et velit convallis quat adipiscing cursus. Rutrumeget id ipsum et sed maurisuspendimentum auctor siti.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div class="featured_box"><a href="#"><img src="/assets/3.jpg" alt="" /></a>
      <div class="floater">
        <h2>3. Dapiensociis temper donec</h2>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique congue. Liberoaenec vest maurisus libero pede nisl ligula cursus vitae dis metus. Aeneanaccumsan orci nasce ac pulvinare enim tor quis antesque cumsan in. Justomontesque sem ac dolor iaculum dolor orci elit lacus et vestibulum.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div class="featured_box"><a href="#"><img src="/assets/4.jpg" alt="" /></a>
      <div class="floater">
        <h2>4. Dapiensociis temper donec</h2>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique congue. Liberoaenec vest maurisus libero pede nisl ligula cursus vitae dis metus. Aeneanaccumsan orci nasce ac pulvinare enim tor quis antesque cumsan in. Justomontesque sem ac dolor iaculum dolor orci elit lacus et vestibulum.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div class="featured_box"><a href="#"><img src="/assets/5.jpg" alt="" /></a>
      <div class="floater">
        <h2>5. Nullain convallis ris elis</h2>
        <p>Nullamcorpervivamus nisl in sed adipit donec feugiat lor vel velit volutpat. Wisihabitur diculisi ac curabitur cursuspendreris sociis sed eger ipsum condisse laculis. Curabiturid non eu curabitae nibh por nullamcorper at nibh elis fring. Vestnibh congue praesenenatis justo et maecenasceleifend senterdum malesuada at dolor amet. Turisristibulum curabitae eros leo at interd.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <div class="column2">
        <ul>
          <li>
            <h1>最新文章</h1>
            <h2>北京高考成绩预计23日公布</h2>
            <div class="imgholder"><img src="/assets/6.jpg" alt="" /></div>
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
            <p class="readmore"><a href="#">阅读全文 &raquo;</a></p>
          </li>
          <li class="last">
            <h1>&nbsp<h1>
            <h2>传说中大学最难的几门课程</h2>
            <div class="imgholder"><img src="/assets/7.jpg" alt="" /></div>
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
            <p class="readmore"><a href="#">阅读全文 &raquo;</a></p>
          </li>
        </ul>
        <br class="clear" />
      </div>
      <div class="column2">
        <ul>
          <li>
            <h2>最新高校毕业生月起薪大调查，结果让人汗颜</h2>
            <div class="imgholder"><img src="/assets/6.jpg" alt="" /></div>
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
            <p class="readmore"><a href="#">阅读全文 &raquo;</a></p>
          </li>
          <li class="last">
            <h2>盘点最容易考研的几大专业                                              </h2>
            <div class="imgholder"><img src="/assets/7.jpg" alt="" /></div>
            <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
            <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
            <p class="readmore"><a href="#">阅读全文 &raquo;</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="fl_right">
      <h2>高考最热</h2>
      <ul>
        <li>
          <div class="imgholder"><a href="#"><img src="/assets/9.jpg" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="/assets/10.jpg" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="/assets/11.jpg" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="/assets/12.jpg" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="#"><img src="/assets/13.jpg" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="footer">
    <div class="footbox">
      <h2>友情链接</h2>
      <ul>
        <li><a href="http://www.liuxue.com/">留学网</a></li>
        <li><a href="http://www.gzu521.com/">贵州学习网</a></li>
        <li><a href="http://learning.sohu.com/gaokao.shtml">搜狐高考</a></li>
        <li><a href="http://www.gkstk.com/">高考试题库</a></li>
        <li class="last"><a href="http://www.gaokao.com/guizhou/"> 贵州高考</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>简介</h2>
      <ul>
        <li><a href="#">关于我们</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>QQ群</h2>
      <%=image_tag("/assets/qq.png",:size=>"5*5")%>
    </div>
    <div class="footbox">
      <h2>微信群</h2>
      <%=image_tag("/assets/weixin.png",:size=>"5*5")%>
    </div>
    <div class="footbox last">
      <h2>联系方式</h2>
      <ul>
        <li>电话号码：</li>
        <li>&nbsp 18813036434(杨)</li>
        <li>&nbsp 18998299525(张)</li>
        <li>&nbsp 15761673726(王)</li>
        <li>E-mail：</li>
        <li class="last">&nbsp lanyu_education@163.com</li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">LanYu Education</a></p>
    <p class="fl_right">贵州遵义·绥阳县</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
